/* Charity Card 
------------------------ */
.charity-card {
  cursor: pointer;
  background-color: $color-white;
  border-radius: 30px;
  padding: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;

  a {
    font-weight: 700;
    margin-top: auto;
  }

  &__image {
    max-width: 220px;
    margin: 0 auto 2rem;
  }

  &__description {
    margin-bottom: 2rem;
  }
}

/* Charity (Card) List 
------------------------ */
.charity-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5rem;

  .charity-card {
    flex-basis: 100%;

    @media (min-width: 768px) {
      flex-basis: 30%;
    }
  }
}
