.charity-card {
  background-color: $color-white;
  border-radius: 30px;
  padding: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;

  a {
    margin-top: auto;
  }
}

.charity-card__image {
  max-width: 220px;
  margin: 0 auto 2rem;
}

.charity-card__description {
  margin-bottom: 2rem;
}

.charity-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5rem;

  .charity-card {
    flex-basis: 100%;

    @media (min-width: 768px) {
      flex-basis: 30%;
    }
  }
}
