/* Charity Card 
------------------------ */
.charity-card {
  cursor: pointer;
  background-color: $color-white;
  border-radius: 2rem;
  padding: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  border: 2px solid transparent;
  transition: 0.15s border-color linear;

  &:hover,
  &:focus,
  &.--active {
    border-color: $color-blue-light;
  }

  a {
    margin-top: auto;
  }

  &__image {
    max-width: 220px;
    margin: 0 auto 2rem;
  }

  &__description {
    margin-bottom: 2rem;
  }
}
