@font-face {
  font-family: "GT Walsheim";
  src: url("../assets/fonts/gt-walsheim-light.woff2") format("woff2"),
    url("../assets/fonts/gt-walsheim-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("../assets/fonts/gt-walsheim-bold.woff2") format("woff2"),
    url("../assets/fonts/gt-walsheim-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

$font-sans-serif: "GT Walsheim", sans-serif;
$font-mono: monospace;
