*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: $color-gray;
  font-family: $font-sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.4;
}

/* Typography
------------------------ */
h1,
h2,
h3 {
  color: $color-blue-dark;
  font-weight: 700;
}

h1 {
  font-size: 4.4rem;
  line-height: 1;
  margin-bottom: 4rem;

  @media (min-width: 768px) {
    font-size: 5.4rem;
  }
}

h2 {
  font-size: 2.4rem;
  line-height: 1.1;
  margin-bottom: 2.5rem;
}

p {
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }
}

/* Links
------------------------ */
a {
  color: $color-blue-light;
  font-weight: 700;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

/* Images
------------------------ */
img {
  width: 100%;
  display: block;
}
