/* Hero
------------------------ */
.hero {
  text-align: center;

  &__icon {
    display: block;
    max-width: 200px;
    margin: 0 auto 4rem;

    @media (min-width: 768px) {
      max-width: 300px;
    }
  }
}
