.container {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding: 3rem;
}

.footer {
  background-color: $color-white;
  text-align: center;
  padding: 3rem 0;

  &__logo {
    max-width: 260px;
    margin: 0 auto;
  }
}
