/* Layout
------------------------ */
.container {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding: 3rem 3rem 5rem;
}

.content {
  background-color: $color-blue-lighter;
}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

/* Footer 
------------------------ */
.footer {
  background-color: $color-white;
  text-align: center;
  padding: 2rem 0;

  &__logo {
    display: block;
    max-width: 200px;
    margin: 0 auto;

    @media (min-width: 768px) {
      max-width: 260px;
    }
  }
}
